
:root {
  --text: #010819;
  --background: #edf1ff;
  --primary: #0a3df8;
  --secondary: #fb6be7;
  --accent: #fa3c8f;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text);
    background-color: var(--background);
}
h1,
h2{
  text-align: center;
}

a {
    background-color: transparent;
    text-decoration: none;
  }
  a:active,
  a:hover {
    outline: 0;
  }

.primary-button {
    background-color: var(--primary);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;}

.primary-button:hover {
    background-color: #1847f2;
    box-shadow: 0px 5px 15px rgba(24, 71, 242, 0.3);
    transform: translateY(-2px);
}

.secondary-button {
    background-color: #f1c8f8;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.secondary-button:hover {
  background-color: #eaaef5;
}

/* Navbar Styling */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #e1e5f3;
    padding: 0 20px;
    border-radius: 8px;
    margin: 12px 24px;
}

.logo a {
    color: var(--text);
    margin: 0;
    font-size: smaller;
    font-family: cursive;
}

.logo img{
  width: 25px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    display: flex;
    margin: 0 15px;
    align-items: center;
    font-weight: 600;
}

.nav-links a img {
  width: 16px;
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown button {
  background-color: #f1c8f8;
  color: black;
  padding: 4px 12px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e1e5f3;
  min-width: 150px;
  right: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}

  
/* Register Container */
.form-wrapper {
    margin: 20px 10px;
    padding: 20px;
    height: fit-content;
    align-items: center;
}

/* Message Styles */
.error-message {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.success-message {
  color: green;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

/* Form Styles */
.register-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.register-form input {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.login-form input {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .register-wrapper {
        padding: 15px;
        max-width: 100%;
    }
}

/* Footer Styles */
footer {
  background-color: #e1e5f3;
  color: var(--text);
  padding: 40px 0;
  border-radius: 12px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

/* Logo Section */
.footer-logo .logo h1 {
  font-size: 2rem;
  margin: 0;
}

.footer-logo .logo span img {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

/* Footer Text */
.footer-text {
  margin: 10px 0;
  font-size: 0.9rem;
}

/* Footer Links Section */
.footer-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  margin-top: 20px;
}

.footer-links div {
  flex: 1;
  padding: 0 10px;
  margin-bottom: 20px;
}

.footer-links h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #f39c12;
}

.footer-links ul {
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 8px 0;
  list-style: none;
}

.footer-links li a {
  color: var(--text);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer-links li a:hover {
  color: #f39c12;
}

/* Social Media Links */
.footer-social {
  margin-top: 20px;
}

.footer-social a {
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.footer-social img {
  height: 24px;
  width: 24px;
}

.social-icon:hover {
  color: #f39c12;
}

/* Contact Info */
.footer-contact {
  width: 100%;
  margin-top: 20px;
}

.footer-contact p {
  font-size: 0.9rem;
}

.footer-contact a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-contact a:hover {
  color: var(--primary);
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-links {
      flex-direction: column;
      align-items: center;
  }

  .footer-logo .logo {
      text-align: center;
  }

  .footer-social {
      text-align: center;
  }

  .footer-contact {
      text-align: center;
  }
}

/* Update form */

.page-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.profile-update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.update-profile-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.update-profile-form .form-group {
    margin: 0 0 20px 20px;
}

.update-profile-form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    margin-left: 20px;
}

.update-profile-form .form-input {
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s;
    margin-left: 20px;
}

.update-profile-form .form-input:focus {
    border: 1px solid var(--primary);
    outline: none;
}

/* Booking Card  */

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-content {
  padding: 15px;
}
.flight-route {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.flight-date {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: #004aad;
}
.details {
  font-size: 12px;
  color: gray;
  margin-bottom: 15px;
}
.book-btn {
  background: var(--primary);
  color: white;
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 0 0 8px 8px;
  font-weight: bold;
}
.book-btn:hover {
  background: #0635e0;
}

@media (max-width: 768px) {
    .update-profile-form {
        padding: 20px;
    }

    .update-profile-form .form-input, .primary-button {
        font-size: 14px;
    }
}

.flights-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.flight-route {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.flight-date {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 8px;
}

.price {
  color: #2c5282;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0;
}

.details {
  font-size: 0.9em;
  color: #444;
  margin-bottom: 15px;
}

/* Booking Details Section */
.booking-details {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 880px;
  margin: 40px auto;
}

.booking-details p {
  text-align: left;
  margin-bottom: 15px;
}

.booking-details p strong {
  color: #007BFF;
}

.booking-details p.no-booking {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}


/***********
  Banner 
************/
.banner {
  background: linear-gradient(100.26deg, #FFE3C5 0%, #A6EFFF 100%);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 15px;
  border-radius: 10px;
  padding: 20px;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.section-title {
  max-width: 500px;
}

.section-title h5 {
  font-size: 24px;
  font-weight: bold;
}

.section-title .content {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.theme-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--text);
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
}

.theme-btn:hover {
  background-color: #171717;
}

.banner-image img {
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit: cover;
}

/* Booking Details */

.flight-details {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.flight-details h2 {
  font-size: 24px;
  color: #333;
}

.flight-details img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.flight-info {
  text-align: left;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.flight-info h3 {
  font-size: 20px;
  color: #222;
}

.flight-info p {
  margin: 8px 0;
}

.booking-info {
  margin-top: 20px;
}

.book-now {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
}

.book-now:hover {
  background-color: #0056b3;
}

/* Filter flights */

.page-subtitle{
  text-align: center;
}

.flight-filter-container {
  background: var(--accent);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
}

.filter-label {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.filter-select {
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: blac;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  text-align: center;
  outline: none;
}

.filter-select option {
  color: black;
  background: white;
}

.filter-icon img {
  width: 16px;
  background: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

/* Feedback Section */
.feedback-section {
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}

.feedback-section h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

/* Feedback Form */
.feedback-section form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%; 
  margin: 0 auto; 
}

.feedback-section form label {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #444;
}

.feedback-section form textarea {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.feedback-section form textarea:focus {
  border-color: var(--primary);
  outline: none;
}

.feedback-section form .primary-button {
  padding: 12px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-section form .primary-button:hover {
  background-color: #1847f2;
}

/* Feedback List */
.feedback-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  width: 100%; 
}

.feedback-item {
  margin-bottom: 20px;
  width: 100%; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feedback-item strong {
  font-size: 1.2em;
  color: #333;
}

.feedback-item p {
  font-size: 1em;
  margin-top: 10px;
  color: #555;
}

.feedback-item small {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
  color: #888;
}


/* About US */
.about-banner {
  background: url('../assets/icons/banner.png') no-repeat center center/cover;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.about-banner-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.about-banner-content p {
  font-size: 1.5em;
}

.about-info {
  padding: 30px 50px;
  background-color: #f9f9f9;
}

.about-info h2 {
  font-size: 2em;
  margin: 40px 0;
}

.about-info .about-text p {
  font-size: 1.2em;
  margin-bottom: 20px;
  max-width: 880px;
  margin: 0 auto;
}

.about-info .about-values ul {
  list-style-type: none;
  max-width: 880px;
  margin: 0 auto;
}

.about-info .about-values ul li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.contact-info {
  text-align: center;
  background-color: #eee;
  padding: 20px;
  margin-top: 40px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}


/* Bookings Table */
.bookings-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.bookings-table th, .bookings-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.bookings-table th {
  background-color: #007BFF;
  color: white;
  font-weight: bold;
}

.bookings-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.bookings-table tr:hover {
  background-color: #f1f1f1;
}